main {
  padding: 0 20px;
}

h1 {
  font-weight: 100;
  text-align: center;
  padding: 40px 20px;
  letter-spacing: 3px;
  opacity: 0.7;
}

// WRAPPER FOR SLIDER ITEMS
.slider-item-wrapper {
  cursor: grab;
  transition: all 0.3s ease-in-out;
  transform: scale(0.90);
  opacity: 0.7;
  padding: 0px;
  display: block;
  background-color: white;
  color: black;
  height: 62vh;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  .image-wrapper {
    width: 100%;
    height: 70%;    
    overflow: hidden;
    > img {
      transition: transform 0.3s ease-in-out; 
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }    
  }
  .bottom-wrapper {
    height: 30%;
    display: flex;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  p {
    display: block;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
  }
  .btn {
    display: inline-block;
    padding: 20px 40px;
    text-transform: uppercase;
    border: 0;
    background-color: #111111;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    transition: all 0.1s ease-in-out; 
    &:hover,
    &:focus {
      transform: scale(1.05);      
      background-color: rgb(46, 46, 46);
    }
  }
}
.swiper-slide-active {
  .slider-item-wrapper {
    transform: scale(1);
    opacity: 1;
  }  
  .slider-item-wrapper img {
    transform: scale(1.2);
  }
}

// SLIDER NAV ARROWS
.slider-nav-wrapper {
  width: 200px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: block;
  padding: 0px;
  text-transform: uppercase;
  border: 0;
  background-color: transparent;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  opacity: 0.7;
  transform: scale(0.9);
  transition: all 0.1s ease-out; 
  &:hover, &:focus {
    opacity: 1;
    transform: scale(1);    
  }
}

// CSS LOADER
.loader-wrapper {
  padding: 20px;
  height: 62vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  span::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #9e9e9e;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


